<ion-header class="header--red">
  <ion-navbar>
    <ion-title class="text--12">
      <div class="title text--white">Create New Opportunity</div>
      <div class="subtitle text--white">Select Payment Method</div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item>
      Hard Cash
    </button>
    <button ion-item>
      Kas bertahap 5x
    </button>
    <button ion-item>
      KPR
    </button>
    <button ion-item>
      Custom
    </button>
  </ion-list>
</ion-content>
