<ion-content>
  <ion-list no-border>
    <ion-list-header>
      More
    </ion-list-header>
    <ion-item (click)="goNpvCalculator()">
      <ion-icon name='key' item-start></ion-icon>
      NPV Calculator
    </ion-item>
    <ion-item (click)="presentConfirmLogout()">
      <ion-label>
        Logout
      </ion-label>
      <ion-icon name='log-out' item-start></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>