<ion-header class="header--red">
  <ion-navbar>
    <ion-title>
      <div class="title text--white">Punsae 1</div>
      <div class="subtitle text--white">Type 36/60</div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="info-top">
    <div class="image">
      <img src="https://s3-ap-southeast-1.amazonaws.com/wmotion-regia/unit-type-list.png" alt="">
    </div>
  </div>
  <h6>&nbsp;&nbsp;&nbsp;&nbsp;375 Unit Available</h6>
  <hr>
  <ion-list>
    <ion-item
      *ngFor="let unit of units"
      (click)="productDetailUnit()"
    >
      <ion-avatar item-start>
        <img [src]="unit.image">
      </ion-avatar>
      <h2>Rp. {{ unit.price }}</h2>
      <p>Position : {{ unit.position }}</p>
    </ion-item>
  </ion-list>
</ion-content>