page-product-unit-type-list {
  ion-title {
    .title {
      display: inline-block;
      width: 100%;
      font-size: 12px;
    }

    .subtitle {
      width: 100%;
      font-size: 16px;
    }
  }
}
