page-login {
  .forget-password {
    font-size: 12px;
    color: #1761e9;
    margin-top: 15px;
    display: inline-block;
  }

  .footer-login {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 30px;

    span {
      display: inline-block;
      width: 100%;
    }

    img {
      width: 120px;
    }
  }
}
