<ion-content>
  <img class="img--responsive" src="https://s3-ap-southeast-1.amazonaws.com/wmotion-regia/logo-ack-new.png">
  <ion-list padding>
    <ion-grid>
      <ion-row>
        <ion-col col-2>
          <ion-icon name="person" class="icon-left"></ion-icon>
        </ion-col>
        <ion-col col-10>
          <ion-item class="padding-left--0">
            <ion-label stacked>Username</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2>
          <ion-icon name="lock" class="icon-left"></ion-icon>
        </ion-col>
        <ion-col col-10>
          <ion-item class="padding-left--0">
            <ion-label stacked>Password</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2>&nbsp;</ion-col>
        <ion-col col-4>
          <button color="primary" ion-button full (click)="toDashboard()">
            Login
          </button>
        </ion-col>
        <ion-col col-1></ion-col>
        <ion-col col-5>
          <div class="forget-password">Forget Password?</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <div class="footer-login">
            <img src="https://s3-ap-southeast-1.amazonaws.com/wmotion-regia/logo-footer.png">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
