<ion-tabs #myTabs>
  <ion-tab
    [root]="tab1Root"
    tabTitle="Home"
    tabIcon="home"
    tabsHideOnSubPages="true"
  ></ion-tab>
  <ion-tab
    [root]="tab2Root"
    tabTitle="Prospect"
    tabIcon="paper"
    tabsHideOnSubPages="true"
  ></ion-tab>
  <ion-tab
    [root]="tab3Root"
    tabTitle="Opportunity"
    tabIcon="filing"
    tabsHideOnSubPages="true"
  ></ion-tab>
  <ion-tab
    [root]="tab4Root"
    tabTitle="More"
    tabIcon="more"
    tabsHideOnSubPages="true"
  ></ion-tab>
</ion-tabs>
