<ion-header class="header--red">
  <ion-navbar>
    <ion-title>Detail Prospect</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <img class="img--responsive" src="https://sarikurnia980.files.wordpress.com/2015/10/scan-ktp.jpg" alt="">
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <h3>&nbsp;&nbsp;Dewi Kusumawati</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2>
          <ion-icon name="map" class="icon-left"></ion-icon>
        </ion-col>
        <ion-col col-10>
          <ion-item class="padding-left--0">
            <ion-label stacked>Address</ion-label>
            <ion-label>Jl. Dr. Cipto RT03/08 Jawa Tengah</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2>
          <ion-icon name="call" class="icon-left"></ion-icon>
        </ion-col>
        <ion-col col-10>
          <ion-item class="padding-left--0">
            <ion-label stacked>Phone Number</ion-label>
            <ion-label>0857-8997-9876</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2>
          <ion-icon name="list" class="icon-left"></ion-icon>
        </ion-col>
        <ion-col col-10>
          <ion-item class="padding-left--0">
            <ion-label stacked>Source</ion-label>
            <ion-label>Indonesia Property Show</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>