page-product-detail {
  .info-top {
    .image {
      img {

      }
    }

    .desc {
      padding: 15px;
      padding-bottom: 0;
      display: inline-block;
      width: 100%;

      h3 {
        font-size: 20px;
        color: #000;
      }

      p {
        font-size: 16px;
        color: #000;
      }
    }
  }
}
