<ion-header class="header--red">
  <ion-navbar>
    <ion-title>Detail Product</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="info-top">
    <div class="image">
      <img src="https://s3-ap-southeast-1.amazonaws.com/wmotion-regia/product-detail.png" alt="">
    </div>
    <div class="desc">
      <h3>Punsae 1</h3>
      <p>Kalonagn, Unggaran Timur - Kalongan</p>
    </div>
  </div>
  <h6>&nbsp;&nbsp;&nbsp;&nbsp;Unit Type</h6>
  <hr>
  <ion-list>
    <ion-item
      *ngFor="let product of products"
      (click)="detailProductUnitTypeLists()"
    >
      <ion-avatar item-start>
        <img [src]="product.image">
      </ion-avatar>
      <h2>{{ product.type }}</h2>
      <p>Total Unit : {{ product.total }}</p>
    </ion-item>
  </ion-list>
</ion-content>
