<ion-header class="header--red">
  <ion-navbar>
    <ion-title>
      <div class="title text--white">Punsae 1</div>
      <div class="subtitle text--white">Detail Unit</div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="info-top">
    <div class="image">
      <img src="https://s3-ap-southeast-1.amazonaws.com/wmotion-regia/unit-type-list.png" alt="">
    </div>
  </div>
  <button ion-button color="danger" class="circle">
    <ion-icon name='logo-usd' circle></ion-icon>
  </button>
  <div padding>
    <div class="type">
      Type 36/60
    </div>
    <div class="block">
      Block - B4 No 5
    </div>
    <div class="price-title">
      Price, Hard cash
    </div>
    <div class="price">
      Rp. 450.000.000,00
    </div>
  </div>
</ion-content>