page-product-detail-unit {
  ion-title {
    .title {
      display: inline-block;
      width: 100%;
      font-size: 12px;
    }

    .subtitle {
      width: 100%;
      font-size: 16px;
    }
  }

  .circle {
    border-radius: 50px;
    float: right;
    margin-top: -20px;
    right: 10px;
  }

  .type {
    font-size: 20px;
    color: #000;
    font-weight: 600;
  }

  .block {
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
  }

  .price-title {
    font-size: 14px;
    color: #909090;
  }

  .price {
    font-size: 16px;
    color: #000;
    font-weight: 600;
  }

}
