<ion-header class="header">
  <ion-navbar>
    <div class="logo">
      <img src="https://s3-ap-southeast-1.amazonaws.com/wmotion-regia/logo-ack.png">
    </div>
    <ion-title>Home</ion-title>
    <div class="icon">
      <ion-icon name="more"></ion-icon>
    </div>
  </ion-navbar>
</ion-header>

<ion-content class="bg--grey">
  <!-- SLIDE INFORMATION -->
  <ion-slides style="top: 0; height: 200px;" pager>
    <ion-slide>
      <img src="https://s3-ap-southeast-1.amazonaws.com/wmotion-regia/slide-1.jpg">
    </ion-slide>
    <ion-slide>
      <img src="https://s3-ap-southeast-1.amazonaws.com/wmotion-regia/slide-2.jpg">
    </ion-slide>
  </ion-slides>
  <!-- /.SLIDE INFORMATION -->

  <!-- PRODUCT INFORMATION -->
  <div class="card--box">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <div float-left text-left>Product</div>
          <div
            float-right
            text-right
            class="text--red"
            (click)="toProduct()"
          >
            See All
          </div>
        </ion-col>
        <ion-col col-4>
          <div class="list-product-home">
            <div class="list-product-home__image-product">
              <img
                [defaultImage]="'https://s3-ap-southeast-1.amazonaws.com/wmotion-regia/no-image-regia.jpg'"
                [lazyLoad]="'https://s3-ap-southeast-1.amazonaws.com/wmotion-regia/slide-2.jpg'"
                [offset]="'100'"
              >
            </div>
            <div class="list-product-home__title">
              Graha kastara 1
            </div>
            <div class="list-product-home__description">
              Utara Kampus UMK, BAE - Kudus
            </div>
          </div>
        </ion-col>
        <ion-col col-4>
          <div class="list-product-home">
            <div class="list-product-home__image-product">
              <img
                [defaultImage]="'https://s3-ap-southeast-1.amazonaws.com/wmotion-regia/no-image-regia.jpg'"
                [lazyLoad]="'https://s3-ap-southeast-1.amazonaws.com/wmotion-regia/slide-2.jpg'"
                [offset]="'100'"
              >
            </div>
            <div class="list-product-home__title">
              Graha kastara 1
            </div>
            <div class="list-product-home__description">
              Utara Kampus UMK, BAE - Kudus
            </div>
          </div>
        </ion-col>
        <ion-col col-4>
          <div class="list-product-home">
            <div class="list-product-home__image-product">
              <img
                [defaultImage]="'https://s3-ap-southeast-1.amazonaws.com/wmotion-regia/no-image-regia.jpg'"
                [lazyLoad]="'https://s3-ap-southeast-1.amazonaws.com/wmotion-regia/slide-2.jpg'"
                [offset]="'100'"
              >
            </div>
            <div class="list-product-home__title">
              Graha kastara 1
            </div>
            <div class="list-product-home__description">
              Utara Kampus UMK, BAE - Kudus
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- /.PRODUCT INFORMATION -->

  <!-- NEW PROSPECT INFORMATION -->
  <div class="card-box--with-line">
    <div class="card-box--with-line__header">
      <div float-left text-left>New Prospect</div>
      <a
        float-right
        text-right
        danger
        class="text--red"
        (click)="toProspect()">
        See All
      </a>
    </div>
    <div class="card-box--with-line__body">
      <div class="list-prospect-home">
        <ion-grid>
          <ion-row>
            <ion-col col-2>
              <div class="icon">
                <img src="https://s3-ap-southeast-1.amazonaws.com/wmotion-regia/icon-new-prospect.png">
              </div>
            </ion-col>
            <ion-col col-7>
              <div class="name">Febrianto</div>
              <div class="call-number">Call Number : 081776555433</div>
            </ion-col>
            <ion-col col-3>
              <div class="time">15:00 WIB</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="list-prospect-home">
        <ion-grid>
          <ion-row>
            <ion-col col-2>
              <div class="icon">
                <img src="https://s3-ap-southeast-1.amazonaws.com/wmotion-regia/icon-new-prospect.png">
              </div>
            </ion-col>
            <ion-col col-7>
              <div class="name">Febrianto</div>
              <div class="call-number">Call Number : 081776555433</div>
            </ion-col>
            <ion-col col-3>
              <div class="time">15:00 WIB</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="list-prospect-home">
        <ion-grid>
          <ion-row>
            <ion-col col-2>
              <div class="icon">
                <img src="https://s3-ap-southeast-1.amazonaws.com/wmotion-regia/icon-new-prospect.png">
              </div>
            </ion-col>
            <ion-col col-7>
              <div class="name">Febrianto</div>
              <div class="call-number">Call Number : 081776555433</div>
            </ion-col>
            <ion-col col-3>
              <div class="time">15:00 WIB</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
  <!-- /.NEW PROSPECT INFORMATION -->
</ion-content>
