<ion-header>
  <ion-navbar>
    <div class="logo">
      <img src="https://s3-ap-southeast-1.amazonaws.com/wmotion-regia/logo-ack.png">
    </div>
    <ion-title>Prospect</ion-title>
    <div
      class="icon-add"
      (click)="toNewProspect()"
    >
      <ion-icon name="add"></ion-icon>
    </div>
    <div
      class="icon"
      (click)="toSearchPropspect()"
    >
      <ion-icon name="search"></ion-icon>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <div
    *ngFor="let number of [0,1,2,3,4,5,6,7]"
    class="list-pros-oppor"
    (click)="detailProspect()"
  >
    <ion-grid>
      <ion-row>
        <ion-col col-2>
          <div class="list-pros-oppor__image">
            <img src="https://s3-ap-southeast-1.amazonaws.com/wmotion-regia/icon-new-prospect.png" alt="">
          </div>
        </ion-col>
        <ion-col col-8>
          <div class="list-pros-oppor__name">
            Febrianto - {{number}}
          </div>
          <div class="list-pros-oppor__call-number">
            Call Number : 081787665655
          </div>
          <div class="list-pros-oppor__source">
            Source : Event Property Indonesia
          </div>
        </ion-col>
        <ion-col col-2>
          <div class="list-pros-oppor__time">
            19:0{{number}}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
