<ion-header class="header--red">
  <ion-navbar>
    <ion-title>All Product</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="product-all-lists">
  <ion-grid>
    <ion-row>
      <ion-col col-6 (click)="detailProduct()">
        <div class="product-all-lists__lists">
          <div class="image">
            <img class="img--responsive" src="https://s3-ap-southeast-1.amazonaws.com/wmotion-regia/slide-2.jpg" alt="">
          </div>
          <div class="name">
            Graha Kastara 1
          </div>
          <div class="address">
            Jl. Lingkar Utara Kampus UMK, BAE - Kudus
          </div>
        </div>
      </ion-col>
      <ion-col col-6 (click)="detailProduct()">
        <div class="product-all-lists__lists">
          <div class="image">
            <img class="img--responsive" src="https://s3-ap-southeast-1.amazonaws.com/wmotion-regia/slide-2.jpg" alt="">
          </div>
          <div class="name">
            Punsae 1
          </div>
          <div class="address">
            Kalongan, Unggaran Timur - Unggaran
          </div>
        </div>
      </ion-col>
      <ion-col col-6 (click)="detailProduct()">
        <div class="product-all-lists__lists">
          <div class="image">
            <img class="img--responsive" src="https://s3-ap-southeast-1.amazonaws.com/wmotion-regia/slide-2.jpg" alt="">
          </div>
          <div class="name">
            Punsae 2
          </div>
          <div class="address">
            Kalongan, Unggaran Timur - Unggaran
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
