// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

a {
  text-decoration: none;
}

// BACKGROUND
.bg--grey {
  background-color: #f2f2f2;
}

.bg--red {
  background-color: #BC232C;
}

// TEXT
.text--red {
  color: #BC232C;
}

.text--blue {
  color: rgb(0, 183, 255)!important;
}

.text--green {
  color: rgb(30, 209, 69)!important;
}

.text--white {
  color: #FFF!important;
}

// TEXT SIZE
.text--12 {
  .toolbar-title{
    font-size: 14px!important;
  }
}

.item {
  background: transparent;
}

.bg-white--with-border-bottom {
  background-color: #FFF;
  border-bottom: 1px solid;
}

.border-0-in-item-inner .item-inner {
  border: 0!important;
}

.icon-left {
  font-size: 30px;
  margin: auto;
  display: table;
  margin-top: 2.1rem;
}

.header {
  .toolbar-background {
    background-color: #FFFFFF!important;
  }
}

img.img--responsive {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.header--red {
  .toolbar-background {
    background-color: #BC232C!important;
  }

  .toolbar-title {
    color: #FFFFFF!important;
  }

  .back-button {
    color: #FFFFFF!important;
  }
}

.padding-left--0 {
  padding-left: 0!important;
}

.tab-button[aria-selected=true] {
  color: #BC232C!important;
  padding: 0;
}

.tab-button[aria-selected=true] .tab-button-icon {
  color: #BC232C!important;
}

.card--box {
  background-color: #FFFFFF;
  border: 1px solid #CCC;
  padding: 0px;
  margin: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 2px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 2px 5px -2px rgba(0,0,0,0.75);
  box-shadow: 1px 2px 5px -2px rgba(0,0,0,0.75);
}

.card-box--with-line {
  background-color: #FFFFFF;
  border: 1px solid #CCC;
  padding: 0px;
  margin: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 2px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 2px 5px -2px rgba(0,0,0,0.75);
  box-shadow: 1px 2px 5px -2px rgba(0,0,0,0.75);

  &__header {
    padding: 10px;
    display: list-item;
    border-bottom: 1px solid #ccc;
  }

  &__body {
    display: block;
  }
}

.list-product-home {
  display: inline-block;
  width: 100%;

  &__image-product {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    height: auto;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 5px;

    img {
      display: block;
    }
  }
  
  &__title {
    font-size: 12px;
    color: #333333;
    font-weight: 600;
    margin-bottom: 5px;
  }

  &__description {
    font-size: 12px;
    color: #000000;
    font-weight: 300;
  }
}

.list-prospect-home {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #ccc;

  &:last-child {
    border: 0;
  }

  .icon {
    overflow: hidden;
    display: contents;

    img {
      display: block;
    }
  }

  .name {
    font-weight: 400;
    color: #000;
    font-size: 14px;
  }

  .call-number {
    font-size: 13px;
    color: #CCCCCC;
    font-weight: 300;
  }

  .time {
    font-size: 12px;
    color: #000;
    font-weight: 300;
    text-align: right;
  }
}

.product-all-lists {
  &__lists {
    display: block;
    width: 100%;

    .image {
      overflow: hidden;
      margin-bottom: 5px;
      border-radius: 4px;
    }

    .name {
      font-weight: 600;
      font-size: 14px;
      color: #000000;
      line-height: 20px;
    }

    .address {
      font-weight: 300;
      font-size: 14px;
      color: #202020;
    }
  }
}

.list-pros-oppor {
  display: block;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;

  &__image {
    margin: auto;
    width: 40px;
    height: 40px;
    margin-top: 1rem;

    img {
      display: block;
    }
  }

  &__name {
    font-size: 14px;
    color: #000000;
    line-height: 25px;
    font-weight: 600;
  }

  &__call-number {
    font-size: 13px;
    color: #8b8b8b;
    line-height: 20px;
    font-weight: 300;
  }

  &__source {
    font-size: 13px;
    color: #8b8b8b;
    line-height: 20px;
    font-weight: 300;
  }

  &__time {
    font-size: 13px;
    color: #8b8b8b;
    line-height: 20px;
    font-weight: 300;
    text-align: right;
    margin-top: 10px;
    display: block;
  }

  &__address {
    font-size: 13px;
    color: #8b8b8b;
    line-height: 20px;
    font-weight: 300;
  }

  &__payment {
    font-size: 13px;
    color: #8b8b8b;
    line-height: 20px;
    font-weight: 300;
  }
}

.body-segment-npv {
  .item {
    width: 33.333%;
    float: left;
  }
}

.result-total {
  display: inline-block;
  background-color: rgb(249, 235, 179);
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;

  &__title {
    font-size: 12px;
    color: #a3934b;
    margin-bottom: 5px;
  }

  &__price {
    font-size: 20px;
    font-weight: 600;
    color: #000;
  }
}