<ion-header class="header--red">
  <ion-navbar>
    <ion-title class="text--12">Create New Prospect</ion-title>
    <ion-buttons end>
      <button ion-button clear>
        <span class="text--white">SAVE</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <h6>Photo KTP</h6>
          <img
            class="img--responsive"
            src="https://s3-ap-southeast-1.amazonaws.com/wmotion-regia/no-image-regia.jpg"
            alt=""
          >
          <ion-fab right style="margin-top: -30px;">
            <button ion-fab>
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-fab>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2>
          <ion-icon name="person" class="icon-left"></ion-icon>
        </ion-col>
        <ion-col col-10>
          <ion-item class="padding-left--0">
            <ion-label stacked>Name</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2>
          <ion-icon name="text" class="icon-left"></ion-icon>
        </ion-col>
        <ion-col col-10>
          <ion-item class="padding-left--0">
            <ion-label stacked>Address</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2>
          <ion-icon name="call" class="icon-left"></ion-icon>
        </ion-col>
        <ion-col col-10>
          <ion-item class="padding-left--0">
            <ion-label stacked>Phone Number</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2>
          <ion-icon name="list-box" class="icon-left"></ion-icon>
        </ion-col>
        <ion-col col-10>
          <ion-item class="padding-left--0">
            <ion-label stacked>Source</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
