<ion-header class="header--red">
  <ion-navbar>
    <ion-title class="text--12">Opportunity Detail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <img class="img--responsive" src="https://sarikurnia980.files.wordpress.com/2015/10/scan-ktp.jpg" alt="">
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-2>
          <ion-icon name="map" class="icon-left"></ion-icon>
        </ion-col>
        <ion-col col-10>
          <ion-item class="padding-left--0">
            <ion-label stacked>Address</ion-label>
            <ion-label>Jl. Dr. Cipto RT03/08 Jawa Tengah</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2>
          <ion-icon name="call" class="icon-left"></ion-icon>
        </ion-col>
        <ion-col col-10>
          <ion-item class="padding-left--0">
            <ion-label stacked>Phone Number</ion-label>
            <ion-label>085687665644</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2>
          <ion-icon name="list-box" class="icon-left"></ion-icon>
        </ion-col>
        <ion-col col-10>
          <ion-item class="padding-left--0">
            <ion-label stacked>Source</ion-label>
            <ion-label>Indonesian Property Show</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr/>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-list class="border-0-in-item-inner">
            <ion-item>
              <h5 class="text--red">Choose Unit</h5>
              <p>Punsae 1, type 36/60, Block-B4 N0 5</p>
            </ion-item>
            <ion-item>
              <h5 class="text--red">Unit Price</h5>
              <p>Rp. 450.000.000,00</p>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr/>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-list class="border-0-in-item-inner">
            <ion-item>
              <ion-grid style="padding-left: 0; padding-right: 0;">
                <ion-row>
                  <ion-col style="padding-left: 0; padding-right: 0;" col-8>
                    <h5 class="text--red">Payment Method</h5>
                    <p>Custom</p>
                  </ion-col>
                  <ion-col col-4>
                    <button class="text--red" (click)="paymentMethodDetail()" clear ion-button full>
                      SEE DETAIL
                    </button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
            <ion-item>
              <h5 class="text--red">Status Payment Method</h5>
              <p>Proccess</p>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
