page-opportunity-new {
  ion-title {
    .title {
      display: inline-block;
      width: 100%;
      font-size: 12px;
    }

    .subtitle {
      width: 100%;
      font-size: 16px;
    }
  }

  .p-bottom {
    color: #8d8d8d;
    font-size: 12px;
    line-height: 5px;
  }
}
