<ion-header class="header--red">
  <ion-navbar>
    <ion-title class="text--12">
      <div class="title text--white">Create New Opportunity</div>
      <div class="subtitle text--white">Choose Prospect & Unit</div>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-end solid color="danger">
        SAVE
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="bg--grey">
  <ion-list>
    <ion-grid class="bg-white--with-border-bottom">
      <ion-row>
        <ion-col col-2>
          <ion-icon name="person" class="icon-left"></ion-icon>
        </ion-col>
        <ion-col col-10>
          <ion-item class="padding-left--0">
            <ion-label stacked>Select Prospect</ion-label>
            <ion-select [(ngModel)]="prospect">
              <ion-option value="f">Prospect 1</ion-option>
              <ion-option value="m">Prospect 2</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-12>Choose Unit</ion-col>
        <ion-col col-12>
          <ion-item class="padding-left--0">
            <ion-label stacked>Site Plan</ion-label>
            <ion-select>
              <ion-option value="f">Site Plan 1</ion-option>
              <ion-option value="m">Site Plan 2</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item class="padding-left--0">
            <ion-label stacked>Unit Type</ion-label>
            <ion-select>
              <ion-option value="f">Type 1</ion-option>
              <ion-option value="m">Type 2</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item class="padding-left--0">
            <ion-label stacked>Block</ion-label>
            <ion-select>
              <ion-option value="f">Block 1</ion-option>
              <ion-option value="m">Block 2</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <p class="p-bottom">Booking fee Rp. 5.000.000,-</p>
          <p class="p-bottom">Payment on transfer</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
