<ion-header class="header--red">
  <ion-navbar>
    <ion-title left>NPV Calculator</ion-title>
    <ion-buttons end>
      <button ion-button clear>
        <span class="text--white">SUBMIT</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm>
        <div class="title-top">
          Punsae 1, Type 36/60, Block -B4 No 5<br/>
          Rp. 450.000.000,00
        </div>
      </ion-col>
      <ion-col col-6 col-sm>
        <ion-list>
          <ion-item class="padding-left--0">
            <ion-label stacked>Annual Rate Interest (%)</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row style="border-top: 1px solid #d4d4d4;">
      <ion-col col-6 col-sm>
        <ion-item class="padding-left--0">
          <ion-label stacked>Down Payment (Rp)</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6 col-sm>
        <ion-item class="padding-left--0">
          <ion-label stacked>DP Installment</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6 col-sm>
        <ion-item class="padding-left--0">
          <ion-label stacked>Discount</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6 col-sm>
        <ion-item class="padding-left--0">
          <ion-label stacked>Ammount Discount</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6 col-sm>
        <ion-item class="padding-left--0">
          <ion-label stacked>Price Request (Rp)</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6 col-sm>&nbsp;</ion-col>
      <ion-col col-6 col-sm>
        <ion-item class="padding-left--0">
          <ion-label stacked>Booking Free</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6 col-sm>
        <ion-item class="padding-left--0 datetime">
          <ion-label stacked>Booking Date</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col col-6 col-sm>
        <ion-item class="padding-left--0">
          <ion-label stacked>Number of Payment</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6 col-sm>
        <ion-item class="padding-left--0 datetime">
          <ion-label stacked>First Payment Date</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
