page-npv-calculator {
  .title-top {
    font-size: 18px;
    color: #000;
    line-height: 25px;
  }

  .datetime {
    ion-datetime {
      padding: 0;
      padding-top: 10px;
      padding-bottom: 6px;
    }
  }
}
