<ion-header>
    <ion-navbar>
      <div class="logo">
        <img src="https://s3-ap-southeast-1.amazonaws.com/wmotion-regia/logo-ack.png">
      </div>
      <ion-title>Opportunity</ion-title>
      <div
        class="icon-add"
        (click)="toNewOpportunity()"
      >
        <ion-icon name="add"></ion-icon>
      </div>
      <div class="icon">
        <ion-icon name="search"></ion-icon>
      </div>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <div
      *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10]"
      class="list-pros-oppor"
      (click)="toDetailOpportunity()"
    >
      <ion-grid>
        <ion-row>
          <ion-col col-2>
            <div class="list-pros-oppor__image">
              <img src="https://s3-ap-southeast-1.amazonaws.com/wmotion-regia/opportunity-logo.png" alt="">
            </div>
          </ion-col>
          <ion-col col-8>
            <div class="list-pros-oppor__name">
              Febrianto - {{number}}
            </div>
            <div class="list-pros-oppor__address">
              1 Unit, Graha Kastra 1 type 160
            </div>
            <div class="list-pros-oppor__payment">
              <span class="text--blue" *ngIf="number === 2">Payment Method : Custom (Proccess)</span>
              <span class="text--blue" *ngIf="number === 4">Payment Method : Custom (Proccess)</span>
              <span class="text--red" *ngIf="number === 5">Payment Method : Custom (Reject by Project Owner)</span>
              <span class="text--red" *ngIf="number === 9">Payment Method : Custom (Reject by Project Owner)</span>
              <span class="text--green" *ngIf="number === 1">Payment Method : Custom (Approve by Project Owner)</span>
            </div>
          </ion-col>
          <ion-col col-2>
            <div class="list-pros-oppor__time">
              19:0{{number}}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>
  