page-opportunity {
  .logo {
    position: absolute;
    top: 15px;
    left: 10px;

    img {
      width: 65px;
      display: block;
    }
  }

  ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .icon {
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 30px;
  }

  .icon-add {
    position: absolute;
    top: 7px;
    right: 45px;
    font-size: 30px;
  }
}
